.markdown-body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  padding: 2rem 10%;
  padding-top: 0.5rem;
}
h1 {
  text-align: center;
}
.right {
  text-align: right;
}
.little {
  font-size: 10px;
}
#text {
  text-indent: 32px;
}
body {
  overflow-x: hidden;
}
@media only screen and (min-width: 1000px) {
  .markdown-body {
    padding: 2rem 300px;
  }
}
#cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -999;
}