.markdown-body 
    font-size: 16px
    line-height: 1.6
    color: #333
    padding: 2rem 10%

#text
    text-indent: 32px

body 
    overflow-x: hidden
    // overflow: hidden
    
@media only screen and (min-width: 1000px) 
    .markdown-body 
        padding: 2rem 300px
    
